/* Edited By Reizel */
*{
    font-family: 'Hind Siliguri';

}
textarea{
    text-align: center;
    width: 550px;
    height: 221px;
    border: 1px solid #dee2e6;
    border-radius: 0;
    outline: none;
    resize: none;
    overflow: auto;
}
.card1{
    height: 400px;
    padding-top: 15px;
}

.btn-success {
    background-color: #24a022;
    border-color: #24a022;
    color: #f8f8f8!important;
    width: 268px;
    font-size: 15px;
    margin-left: 65px;
}
.btn-danger {
    background-color: #c35555!important;
    color: #f8f8f8!important;
    width: 268px;
    font-size: 15px;
    margin-right: 70px;
}

.text{
    font-size: 20px;
}
.btn-light{
    margin-top: -10px;
    font-size: 15px;
    font-weight: bold;
}

.authorInfo{
    color: #5c5c5c;
    font-size: 25px;

}
.btn-success, .btn-danger{
    height: 43px;
    width: 215px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    outline: none;
    border-radius: .25rem;
    margin-top: -10px;
}
.btn-success{
    background-color: #24a022!important;
    border-color: #24a022;
}
.btn-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(145, 230, 138, 0.5);
}
.btn-danger{
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:focus{
    box-shadow: 0 0 0 0.2rem rgba(238, 106, 123, 0.5);
}
.col-sm-8{
    max-width: 58.666667%;
}
.col-sm-2{
    margin-left: 70px;
}
.btn-light{
    line-height: 12px;
}

.btn-primary{
    height: 40px;
    width: 143px;
    margin-top: -2px;
    line-height: 2px;
    border-radius: .25rem;
}

.card{
    background-color: white;
}
.blockquote .bq-title,
.card,
.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6,
table th {
	font-weight: 400;
	background-color: #ffffff;
	border-radius: 0px;
}
body {
    background-color: #ffffff;
    color: #3d4045;
}
.btn-light {
    background-color: #ffffff!important;
    color: #000!important;
}
textarea:focus { 
    outline: none !important;
    border-color: #dee2e6;
    box-shadow: 0 0 10px #dee2e6;
}
:placeholder-shown{
    text-align: center;
    font: bold;
    font-size: 20px;
    padding-top: 20px;
}
.badge-success {
    background-color: #24a022!important;
    width: auto;
    height: 22px;
    line-height: 18px;
    border-radius: 2px;
}
.badge-danger {
    background-color: #c35555!important;
    width: auto;
    height: 22px;
    line-height: 18px;
    border-radius: 2px;
}